<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

    <ul>
        <li><a href="\index2">notetaking</a></li>
        <li><a href="\index3">to do list </a></li>
       
    </ul>

</body>
</html>